*{margin: 0;padding:0}
body{
    font-size:14px;
    line-height: 1.42857143;
    color:#333;
    background-color:#fff;
    box-sizing: border-box;
}

#container{
    width:100%;
    height:auto;
    overflow: hidden;
}
#container>.mobileNav{
    width:100%;
    height:auto;
    padding-top:20px;
    padding-bottom:25px;
}
.visible-xs{
    display: none;
}
#container>.mobileNav>.left{
    float: left;
    padding-left:21px;
}
#container>.mobileNav>.left>img{
    vertical-align: middle;
    width:970px;
}
#container>.mobileNav>.left>span{
    color:#fff;
    padding-left:5px;
}
#container>.mobileNav>.right{
    width:160px;
    height:50px;
    float: right;
}
#container>.mobileNav>.right ul{
    list-style:none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
#container>.mobileNav>.right ul>li{
    width:40px;
    float: left;
}
#container>.mobileNav>.right>ul>.text-center{
    text-align:center;
}
@media (min-width:1200px){
    #container>.comm{
        width:1200px;
        height:50px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        background:none;
    } 
}
@media (min-width:768px){
    #container>.comm{
        width:100%;
        height:48px;
        overflow: hidden;
        position:relative;
        background:url('../boot/img/details/bgn50.png');

    }
}
@media (min-width:1200px){
    #container.comm>.commNav{
        width:1200px;
        height:50px;
        overflow: hidden;
        margin: 0 auto;
        position:relative;
    }
}
@media (min-width:768px){
    #container>.comm>.commNav> ul{
        width:100%;
        height:100px;
        overflow: hidden;
        list-style: none;
    }
}
@media (min-width:1200px){
    #container>.comm>.commNav>ul{
        list-style: none;
        padding:0px;
    }
}
#container>.comm>.commNav> ul{
    margin-top:0;
    margin-bottom:10px;
}
@media (min-width:1200px){
    #container>.comm>.commNav ul>li{
        width:auto;
        height:50px;
        overflow:visible;
        float:left;
        padding:0 20px;
        line-height: 50px;
    }
}
@media (min-width:768px){
#container .comm .commNav ul>li {
        width: auto;
        height: 50px;
        overflow: visible;
        float: left;
        padding: 0px 20px;
        line-height: 50px;
    }
}
#container .comm .commNav ul>li a{
    color:#fff;
    text-decoration:none 
}
#container .comm .commNav ul>li a:hover{
    text-decoration:underline
}
@media (min-width: 1200px){
#container>.comm >.navTel {
        width: 310px;
        height: 68px;
        overflow: hidden;
        position: absolute;
        right: 0px;
        bottom: 12px;
    }
}
@media (min-width: 768px){
#container>.comm> .navTel {
        width: 300px;
        height: 26px;
        overflow: hidden;
        position: absolute;
        right: 207px;
        bottom: 11px;
    }
}
@media (min-width: 1200px){
#container> .comm >.navTel ul {
        padding: 0px;
        list-style: none;
    }
}
@media (min-width: 768px){
#container> .comm> .navTel ul {
        padding: 0px;
        list-style: none;
    }
}
#container> .comm> .navTel ul{
    margin-top: 0;
    margin-bottom: 10px;
}
@media (min-width: 1200px){
    #container> .comm >.navTel ul>li {
        width: 40px;
        height: 30px;
        float: left;
        color: #FFF;
    }
}
@media (min-width: 1200px){
    #container> .comm >.navTel ul>li {
        width: 40px;
        height: 30px;
        float: left;
        color: #FFF;
    }
}
#container> .comm >.navTel ul>li{
    text-align: center;
}
#container> .comm >.navTel ul>li span{
    position: absolute;
    top:30;
    left:132px;
}
#sjslist{
    width:1200px;
    height:auto;
    overflow: hidden;
    margin: 0 auto;
    padding-top:30px;
    padding-bottom:40px;
}
#sjslist .row .comm{
    width:400px;
    position:relative;
    padding-left:0px;
    padding-top:0px;
    padding-bottom:2px;
    float: left;
}
#sjslist .row .comm a{
        color:#fff;
        background-color:transparent;
        text-decoration: none;
}
#sjslist >.row> .comm a>img{
    width:395px;
    height:305px;
}
#sjslist >.row> .comm  a .she{
    width:398px;
    height:305px; 
}
#sjslist >.row> .comm  a .she:hover{
    width:395px;
    height:305px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top:0;
    background:url('../../boot/img/details/bgn65.png') no-repeat;
    display: block;
}
#sjslist >.row> .comm  a .she b{
    width:400px;
    height:40px;
    overflow: hidden;
    display: block;
    position: absolute;
    left: 0px;
    bottom: 124px;
    font-size:18px;
    text-align: center;
    line-height: 40px;
    font-weight: normal;
    opacity: 0;
}
#sjslist >.row> .comm  a .she b:hover{
    opacity: 1;
}
#sjslist >.row> .comm  a .she em:hover{
    opacity: 1;
}
#sjslist >.row> .comm  a .she em{
    width:400px;
    height:45px;
    overflow: hidden;
    display: block;
    position: absolute;
    left: 0px;
    bottom: 78px;
    font-size:22px;
    text-align: center;
    line-height: 45px;
    font-weight: normal;
    opacity: 0;
}
#global_bottom{
    width:100%;
    overflow: hidden;
    height:auto;
    background:#333;
    
  }
  #global_bottom>.top{
    width:83%;
    height:197px;
    overflow: hidden;
    margin: 0 auto;
    border-bottom:1px solid #646464;
  }
  #global_bottom>.top>ul{
    width:392px;
    height:26px;
    padding:0;
    margin:0;
    margin:0 auto;
    padding-top:87px;
    list-style:none;
  }
  @media (min-width:768px){
  #global_bottom>.top>ul li{
    width:85px;
    height:39px;
    float:left;
    position: relative;
    line-height: 39px;
    color:#fff;
    font-size:16px;
  }
  }
  #global_bottom>.top>ul li img{
    width:40px;
    height:39px;
  }
  #global_bottom .top ul li img.wen {
    width: 177px;
    height: 177px;
    z-index: 1000;
    position: absolute;
    left: -50px;
    top: -78px;
    display: none;
  }
  
  #global_bottom>.top ul .last{
    width:211px;
  }
  #global_bottom .copyright{
    width:83%;
    height:auto;
    overflow: hidden;
    padding:18px 0px 22px 0px;
    border-bottom:1px solid #646464;
    color:#fff;
    line-height:200%;
    text-align: center;
    margin:0 auto;
    font-size:15px;
  }
  #global_bottom >.copyright>p>a{
    color:#337ab7;
  }
  #global_bottom>.bottomContact{
    width:83%;
    height:auto;
    margin:0 auto;
    padding:36px 0 30px 0;
    border-bottom:1px solid #646464;
    overflow: hidden;
    text-align: center;
    color:#fff;
  }
  #global_bottom>.links{
    width:100%;
    height:auto;
    overflow: hidden;
    padding:36px 0 30px 0;
    color:#fff;
    line-height: 200%;
    text-align: center;
  }
  a{
    color:#FFF;
    font-size:15px;
    text-decoration: none;
  }
  a:hover{
    color:#fff;
  }
  #toTop{
    width:100%;
    height:1px;
    overflow:visible;
    left:1400px;
    bottom:90px;
    position:fixed;
    z-index:10000;
    margin-left: 20px;
    display: block
  }
  #toTop img{
    width:80px;
    height:80px;
    position: relative;
    right:-19%;
    bottom:2px;
  }
  #s1{
     width:1200px;
     text-align: center; 
  }