*{margin: 0;padding:0}
body{
    font-size:14px;
    line-height: 1.42857143;
    color:#333;
    background-color:#fff;
}
#global_nav{
    width:100%;
    height:auto;
    overflow: hidden;
    position:relative;
    z-index:1000000;
}
#global_nav>.center{
    background:url('../boot/img/details/bgn50.png')
}
@media (min-width:768px){
    #global_nav>.center{
            background:none;
    }
}
#global_nav>.center{
    width:100%;
    height:50px;
    overflow: hidden;
    background:url('../boot/img/details/bgn50.png')
}
#global_nav>.center>.mobileNav{
    width:100%;
    height:auto;
    padding-top:20px;
    padding-bottom:25px;
}
.visible-xs{
    display: none;
}
#global_nav>.center>.mobileNav>.left{
    float: left;
    padding-left:21px;
}
#global_nav>.center>.mobileNav>.left>img{
    vertical-align: middle;
}
#global_nav>.center>.mobileNav>.left>span{
    color:#fff;
    padding-left:5px;
}
#global_nav>.center>.mobileNav>.right{
    width:160px;
    height:50px;
    float: right;
}
#global_nav>.center>.mobileNav>.right ul{
    list-style:none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
#global_nav>.center>.mobileNav>.right ul>li{
    width:40px;
    float: left;
}
#global_nav>.center>.mobileNav>.right>ul>.text-center{
    text-align:center;
}
@media (min-width:1200px){
    #global_nav>.center>.comm{
        width:1200px;
        height:50px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        background:none;
    } 
}
@media (min-width:768px){
    #global_nav>.center>.comm{
        width:100%;
        height:100px;
        overflow: hidden;
        position:relative;
        /* background:url('../boot/img/details/bgn50.png'); */

    }
}
@media (min-width:1200px){
    #global_nav>.center>.comm>.commNav{
        width:1200px;
        height:50px;
        overflow: hidden;
        margin: 0 auto;
        position:relative;
    }
}
@media (min-width:768px){
    #global_nav>.center>.comm>.commNav> ul{
        width:100%;
        height:100px;
        overflow: hidden;
        list-style: none;
    }
}
@media (min-width:1200px){
    #global_nav>.center>.comm>.commNav>ul{
        list-style: none;
        padding:0px;
    }
}
#global_nav>.center>.comm>.commNav> ul{
    margin-top:0;
    margin-bottom:10px;
}
@media (min-width:1200px){
    #global_nav>.center>.comm>.commNav ul>li{
        width:auto;
        height:50px;
        overflow:visible;
        float:left;
        padding:0 20px;
        line-height: 50px;
    }
}
@media (min-width:768px){
#global_nav .center .comm .commNav ul>li {
        width: auto;
        height: 50px;
        overflow: visible;
        float: left;
        padding: 0px 20px;
        line-height: 50px;
    }
}
#global_nav .center .comm .commNav ul>li a{
    color:#fff;
    text-decoration:none 
}
#global_nav .center .comm .commNav ul>li a:hover{
    text-decoration:underline
}
@media (min-width: 1200px){
#global_nav >.center >.comm >.navTel {
        width: 310px;
        height: 68px;
        overflow: hidden;
        position: absolute;
        right: 0px;
        bottom: 12px;
    }
}
@media (min-width: 768px){
#global_nav> .center >.comm> .navTel {
        width: 300px;
        height: 68px;
        overflow: hidden;
        position: absolute;
        right: 207px;
        bottom: 16px;
    }
}
@media (min-width: 1200px){
#global_nav >.center> .comm >.navTel ul {
        padding: 0px;
        list-style: none;
    }
}
@media (min-width: 768px){
#global_nav> .center> .comm> .navTel ul {
        padding: 0px;
        list-style: none;
    }
}
#global_nav> .center> .comm> .navTel ul{
    margin-top: 0;
    margin-bottom: 10px;
}
@media (min-width: 1200px){
    #global_nav >.center> .comm >.navTel ul>li {
        width: 40px;
        height: 30px;
        float: left;
        color: #FFF;
    }
}
@media (min-width: 1200px){
    #global_nav >.center> .comm >.navTel ul>li {
        width: 40px;
        height: 30px;
        float: left;
        color: #FFF;
    }
}
#global_nav >.center> .comm >.navTel ul>li{
    text-align: center;
}
#global_nav >.center> .comm >.navTel ul>li span{
    position: absolute;
    top:30;
    left:132px;
}
#aboutNav{
    width:1200px;
    height:1px;
    position:absolute; 
    top:80px;
    left: 50%;
    margin-left:-600px;
    z-index:1000000;
}
.visible-lg{
    display: block;
}
#aboutNav>.list{
    width:230px;
    height:auto;
    overflow: hidden;
}
#aboutNav>.list>ul{
    padding:0px;
    list-style: none;
    position: fixed;
}
#aboutNav>.list>ul>li{
    width:100%;
    line-height: 40px;
    height:auto;
    overflow: hidden;
   margin-left:21px;
   list-style: none;
    background:url('../boot/img/details/bgn52.jpg')5px 14px no-repeat
}
#aboutNav>.list>ul>li>span{
    width:200px;
    height:40px;
    display: block;
    float:right;
    overflow: hidden;
}
#aboutNav>.list>ul>li>span>:nth-child(1){
    color:#8BB52B;
    text-decoration:none
}
#aboutNav>.list>ul>li>span>a:hover{
    text-decoration: underline;
}
#ejmain{
    width:1200px;
    height:auto;
    overflow: hidden;
    margin: 0 auto;
}
#aboutcont{
    width:960px;
    height:auto;
    overflow: hidden;
    float: right;
}
@media(min-width:1200px){
    #aboutcont.title{
    padding-top:30px;
    }
}
#aboutcont>.commcontent>.title{
    width:100%;
    height:auto;
    overflow: hidden;
    padding-top:60px;
    padding-bottom:15px;
}
#aboutcont>.commcontent>.title>span{
    display: block;
    text-align: center;
    font-size:24px;
    line-height:150%;
    color:#8BB32c
}
#aboutcont>.commcontent>.title>em{
    display: block;
    text-align: center;
    font-size:14px;
    line-height: 200%;
    font-style: normal;
    color:#717171;
}
#aboutcont>.commcontent>.pic{
    width:100%;
    height:auto;
    overflow: hidden;
}
#aboutcont>.commcontent>.pic img{
    width:100%;
}
#aboutcont .thecontent{
    width:100%;
    height:auto;
    overflow: hidden;
    padding-top:15px;
    padding-bottom:40px;
    background:url('../boot/img/details/bgn62.jpg')bottom repeat-x;
    font-size:14px;
    line-height: 200%;
    color:#333333;
}
#aboutcont .thecontent>p{
    text-align: center;
    padding:0 0 10px;
}
#aboutcont>.commcontent>.commcontent>.title{
    width:100%;
    height:auto;
    overflow: hidden;
    padding-top:60px;
    padding-bottom:15px;
}
#aboutcont>.commcontent>.commcontent>.title>span{
    display: block;
    text-align: center;
    font-size:24px;
    line-height:150%;
    color:#8BB32c
}
#aboutcont>.commcontent>.commcontent>.title>em{
    display: block;
    text-align: center;
    font-size:14px;
    line-height: 200%;
    font-style: normal;
    color:#717171;
}
.webNewlist{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 26px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    background: url(../Images/bgn63.jpg) bottom repeat-x;
}
.row{
    margin:0 -15px;
    float: left;
}
@media (min-width: 768px){
.col-sm-6 {
    width: 50%;
    }
}
@media (min-width: 768px){
    .col-sm-6{
        float: left;
    }
}
.clo-xs-12{
    width:100%;
}
.col-sm-6,.col-xs-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width:465px;
}
.row dl{
    width:100%;
    border-top:1px solid #8cb42d;
}
dl{
    margin-top: 0;
    margin-bottom: 20px;
}
.row dl dt{
    padding-top:12px;
    line-height: 24px;
    font-size: 12px;
    color:#838383;
    font-weight: normal;
}
.row dl .tit{
    height:30px;
    overflow: hidden;
    line-height: 30px;
    font-size: 18px;
}
.row dl .tit a{
    color:#343434;
    text-decoration: none;
}
.row dl .tit a:hover{
  text-decoration: underline;
}
.row dl .des{
    font-size: 12px;
    line-height: 24px;
    padding-top: 2px;
    padding-bottom: 20px;
}
.row dl .more{
    padding-bottom: 10px;
}
.row dl .more a{
    color:#337ab7;
    text-decoration: none;
}
.comm{
    float: left;
}
.webNewlist>.thePageinfo{
    width:580px;
    height:60px;
    overflow: hidden;
    background:#fc595a;
    margin: 0 auto;
    text-align: center;
    line-height: 64px;
    font-size:22px;
}
.webNewlist>.thePageinfo a{
    color:#fff;
    text-decoration: none;
}
.webNewlist>.thePageinfo a:hover{
    text-decoration: underline;
}
@media (min-width:1200px){
      #aboutcont .title{
          padding-top:30px;
    } 
}
#aboutcont .title{
    width:100%;
    height:auto;
    overflow: hidden;
    padding-top:60px;
    padding-bottom: 15px;
}
#aboutcont .title span{
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 150%;
    color:#8bb32c;
}
#aboutcont .title em {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 200%;
    font-style: normal;
    color: #717171;
}
#aboutcont .pic{
    width:100%;
    height:auto;
    overflow: hidden;
}
#aboutcont .pic img{
    width:100%;
}
.commContent{
    background:url('../boot/img/details/bgn62.jpg')top repeat-x;
}



