#container{
  width:100%;
  height:auto;
  overflow: hidden;
}
#container>.fo>.navbar>a>img{
  width:-1
}

.fo{
  position:relative;
}
.po{
  position: absolute;
  right:0;
  bottom: 0;
}
.cg{
  width:100%;
  height:760px;
  margin: 0;
  position:relative;
  background-color: #0a0a0a;
}
.bg_he{
  width: 100%;
  height: 760px;
  position: absolute;
  left: 0;
  top: 0;
  background-image:url("../boot/img/header/luboBg.png");
  background-repeat:no-repeat;
  background-position: center;
  z-index: 99;
}
.dao{
  position:absolute;
  top:43px;
  left:20px; 
  z-index: 998; 
}
.dao>a{
  padding-right:35px;
  color:#fff !important;
}
.dao>a:hover{
  cursor: pointer;
  text-decoration: underline;
}
#global_nav{
  width:100%;
  height:auto;
  overflow: hidden;
  z-index:10000;
}
#global_nav>.center{
  background:url('../boot/img/header/bgn50.png')
}
.nav-brand > a{
  z-index:100px;
}
#global_nav>.center>.mobileNav{
  width:100%;
  height:auto;
  padding-top:0px;
  padding-bottom:25px;
}
@media(max-width:767px){
  .visvle-xs{
    display:block !important;
  } 
}
#global_nav>.center>.left{
  float:left;
  padding-left:21px;  
}
#global_nav>.center>.left>span{
  color:#fff;
  padding-left:5px;
}
#global_nav>.center>.right{
  width:160px;
  height:50px;
  float: right;
}
#global_nav>.center>.right >ul{
  list-style: none;
  margin:0;
  padding:0;
}
#global_nav>.center>.right >ul>li{
  width:40px;
  float: left;
  text-align: center;
}
#global_nav>.center>.commm{
  width:1200;
  height:50px;
  overflow: hidden;
  margin: 0 auto;
  position:relative;
  background:none;
}
#global_nav>.center>.commm>.commnav{
  width:1200px;
  height:50px;
  overflow: hidden;
  margin: 0 auto;
  position:relative;
}
#global_nav>.center>.commm>.commnav>ul{
  list-style: none;
  padding:0px;
}
#global_nav>.center>.commm>.commnav>ul>li{
  width:auto;
  height: 50px;
  overflow: hidden;
  float: left;
  padding:0 20px;
  line-height: 50px;
}
.bg_tu{
  width:100%;
  height: 760px;
  position:absolute;
  animation: to 20s infinite ;
  background-position: center;
  right:0;
  top:0px;
  z-index:1;
  background-repeat: no-repeat
}
@keyframes to{
    0%{ background-image: url('../boot/img/header/01_AUTO.jpg');}
    20%{ background-image: url('../boot/img/header/02_AUTO.jpg');}
    40%{ background-image: url('../boot/img/header/03_AUTO.jpg');}
    60%{ background-image: url('../boot/img/header/04_AUTO.jpg');}
    80%{ background-image: url('../boot/img/header/05_AUTO.jpg');}
    100%{ background-image: url('../boot/img/header/06_AUTO.jpg');}
}
.cg>.aLink{
  color:#fff;
}
.cg>a>.a1,.cg>a>.a2{
  width:58px;
  height:59px;
  border:2px solid #989898 ;
  position:absolute;
  bottom:65px;
  right:30px;
  color:#fff;
  border-radius: 5px;
  padding:5px;
  text-align:center;
  line-height:19px;
  z-index: 999;
}
.cg>a>.a2{
  position: absolute;;
  bottom:65px;
  right:107px;
}
#index {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 15px;
  border-bottom: 1px solid #CCC;
}
#index>.center{
  width:83%;
  height:auto;
  overflow:hidden;
  margin:0 auto;
}
#index>.center>.row>.comm{
  font-size:12px;
  padding-top:15px;
  padding-bottom:15px;

}
#index>.center>.media{
 float: left;
 overflow: hidden;
}
#a2{
  width:130px;
  padding-left:10px;
  float:left;
  overflow: hidden;
}
#a2>.a2_1{
  margin-top:0px;
  margin-bottom:5px;
}
#a2>.a2_1>a{
  color:#656565;
  background-color:transparent;
  font-size:18px;
}
#indexZy{
  width:100%;
  height:auto;
  overflow: hidden;
  position:relative;
}
#indexZy.theBg{
  width:100%;
  height:auto;
  overflow: hidden;
  position:relative; 
}
#indexMiddle {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
#indexMiddle>.theBg>.middlePic{
  position:absolute;
  top:0;
  bottom:0;

}
#indexMiddle> .center {
  width: 66%;
  height: auto;
  overflow: hidden;
  position: absolute;
  left: 40%;
  top: 0px;
  margin-left: -33%;
}
#indexMiddle >.center>.title{
  width:58%;
  height:auto;
  overflow: hidden;
  margin:0px;
  padding-top:50px;
  padding-bottom:16px;
  font-size:20px;
  line-height:40px;
}
#indexMiddle >.center>.title>a{
  color:#fff;
}
#indexMiddle >.center>.conten{
  overflow: hidden;
  margin: 0px;
  font-size: 14px;
}

#indexMiddle >.center>.conten>a{
  color:#fff;
}

